/* styles.css
 * Eli Shayer
 * ----------
 * Stylesheet for Kathryn Treder's personal website
 */


 /* ----- general styles ----- */

/* Ensure the html reaches the bottom of the screen and place
 * a scrollbar regardless of size so it doesn't enter and exit
 */

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	height: 100%;
	font-family: sans-serif;
	background-color: #800000; /* maroon background */
	color: #333;
}

/* ensure the container takes up the whole screen vertically
 * small padding to the top and bottom (20px),
 * Sandstone 50% background
 */
.container {
	min-height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee6cb;
}

/* container side padding according for medium and above */
@media (min-width: 992px) {
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
}

/* Small padding on top and bottom of each row */
.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ----- intro styles ----- */
img#portrait {
	width: 100%;
	border-radius: 50%;
}

/* ----- Styles for the tabs ----- */
.nav>li>a {
	text-transform: capitalize;
}

/* ----- Styles for the about tab ----- */
hr.tab-hr {
	border-top-width: 5px;
	margin-top: 0px;
	margin-bottom: 17px;
}

hr.min {
	margin-top: 0px;
	margin-bottom: 0px;
}

#schools p.header {
	font-weight: bold;
}

.no-pad-ul>li {
	list-style-type: none;
}

.no-pad-ul {
	padding-left: 0px;
}

a[data-toggle="tooltip"] {
	color: inherit;
}
